/*-----------------------------------------------------------------------------------
	    MKC-MKC_io
        Built with Blocs
-----------------------------------------------------------------------------------*/
 
body{
	margin:0;
	padding:0;
    background:#FFFFFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-container{overflow-x:hidden;} /* Prevents unwanted scroll space when scroll FX used. */
a,button{transition: background .3s ease-in-out;outline: none!important;} /* Prevent ugly blue glow on chrome and safari */
a:hover{text-decoration: none; cursor:pointer;}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	display:flex;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
}


/* Sizes */

.bloc-xxl{
	padding:200px 50px;
}
.bloc-lg{
	padding:100px 50px;
}
.bloc-md{
	padding:50px;
}
.bloc-sm{
	padding:20px 50px;
}

/* = Full Screen Blocs 
-------------------------------------------------------------- */

.bloc-fill-screen{
	min-height:100vh;
	display: flex;
	flex-direction: column;
	padding-top:20px;
	padding-bottom:20px;
}
.bloc-fill-screen > .container{
	align-self: flex-middle;
	flex-grow: 1;
	display: flex;
}
.bloc-fill-screen > .container > .row{
	flex-grow: 1;
	align-self: center;
	width:100%;
}
.bloc-fill-screen .fill-bloc-top-edge, .bloc-fill-screen .fill-bloc-bottom-edge{
	flex-grow: 0;
}
.bloc-fill-screen .fill-bloc-top-edge{
	align-self: flex-start;
}
.bloc-fill-screen .fill-bloc-bottom-edge{
	align-self: flex-end;
}

/* = Full Width Blocs 
-------------------------------------------------------------- */

.full-width-bloc{
	padding-left:0;
	padding-right:0;
}
.full-width-bloc .row{
	margin-left:0;
	margin-right:0;
}
.full-width-bloc .container{
	width:100%;
	max-width:100%!important;
}
.full-width-bloc .carousel img{
	width:100%;
	height:auto;
}


/* Group Styles */

.bloc-group{
	display:flex;
}
.bloc-tile-2{
	width:50%;
}
.bloc-tile-3{
	width:33.33333333%;
}
.bloc-tile-4{
	width:25%;
}
.bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
	width:100%;
}


/* Background Styles */

.bg-center,.bg-l-edge,.bg-r-edge,.bg-t-edge,.bg-b-edge,.bg-tl-edge,.bg-bl-edge,.bg-tr-edge,.bg-br-edge,.bg-repeat{
	-webkit-background-size: auto!important;
	-moz-background-size: auto!important;
	-o-background-size: auto!important;
	background-size: auto!important;
}
.bg-br-edge{
	background: bottom right no-repeat;
}


/* Light theme */

.d-bloc .card,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .btn-wire,.d-bloc .card .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}

/* Row Margin Offsets */

.voffset{
	margin-top:30px;
}


/* = NavBar
-------------------------------------------------------------- */

.hero .hero-nav{
	padding-left:inherit;
	padding-right:inherit;
}
/* = Sticky Nav
-------------------------------------------------------------- */

.sticky-nav.sticky{
	position:fixed;
	top:0;
	z-index:1000;
	box-shadow:0 1px 2px rgba(0,0,0,.3);
	 transition: all .2s ease-out;
}
/* Uneven Rounded List Menu Icon */
.navbar-light .menu-icon-rounded-uneven-list .navbar-toggler-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='rgba(0, 0, 0, 0.5)' stroke-miterlimit='10' d='M3.5,7A1.5,1.5,0,1,1,2,8.5,1.5,1.5,0,0,1,3.5,7Zm6,0h11a1.5,1.5,0,0,1,0,3H9.5A1.5,1.5,0,0,1,9.5,7Zm0,7h17a1.5,1.5,0,0,1,0,3H9.5A1.5,1.5,0,0,1,9.5,14Zm0,7h11a1.5,1.5,0,0,1,0,3H9.5A1.5,1.5,0,0,1,9.5,21Zm-6-7A1.5,1.5,0,1,1,2,15.5,1.5,1.5,0,0,1,3.5,14Zm0,7A1.5,1.5,0,1,1,2,22.5,1.5,1.5,0,0,1,3.5,21Z'/%3E%3C/svg%3E");
}
.navbar-dark .menu-icon-rounded-uneven-list .navbar-toggler-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='rgba(255, 255, 255, 0.5)' stroke-miterlimit='10' d='M3.5,7A1.5,1.5,0,1,1,2,8.5,1.5,1.5,0,0,1,3.5,7Zm6,0h11a1.5,1.5,0,0,1,0,3H9.5A1.5,1.5,0,0,1,9.5,7Zm0,7h17a1.5,1.5,0,0,1,0,3H9.5A1.5,1.5,0,0,1,9.5,14Zm0,7h11a1.5,1.5,0,0,1,0,3H9.5A1.5,1.5,0,0,1,9.5,21Zm-6-7A1.5,1.5,0,1,1,2,15.5,1.5,1.5,0,0,1,3.5,14Zm0,7A1.5,1.5,0,1,1,2,22.5,1.5,1.5,0,0,1,3.5,21Z'/%3E%3C/svg%3E");
}

/* Nav Special Classes */
.nav-special{
	overflow-y:scroll;
}
.nav-special .site-navigation{
	top:0;
	left:0;
	width:100%;
	position: relative!important;
	max-width: 100%!important;
	z-index: 1000;
}
.nav-special .nav > li{
	width:100%;
	background: none!important;
	border:0!important;
}
.nav-special.collapsing{
	-webkit-transition: none;
	transition: none;
	height:100%!important;
	background: none!important;
}
.nav-special .navbar-nav .show .dropdown-menu{
	position: relative!important;
	transform: none!important;
	float: none;
	width: 100%;
	margin-top: 0;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
}
.nav-special .nav .dropdown-menu .nav-link{
	color:#FFF;
}
.blocsapp-special-menu{
	position: absolute;
	z-index:10000;
}
.nav-special.fullscreen-nav .caret,.nav-special.fullscreen-nav .dropdown-menu .dropdown .caret{
	border-width: 8px;
}
.nav-special .navbar-nav .show>.nav-link{
	color:#FFF;
}

/* Animate Menu Symbol */
.navbar-toggle{
	transition: all .1s linear;
}
.selected-nav{
	opacity: 0;
	transform: scale(0.3);
	transition: all .1s linear;
}


/* Special Menu Close Button */
.close-special-menu{
	position: fixed;
	display: block;
	width: 25px;
	height:25px;
	top:16px;
	right:10px;
	z-index: 10000;
}
.nav-invert .sidebar-nav .close-special-menu{
	left:260px;
}
.close-special-menu .close-icon{
	display: block;
	width:100%;
	height:1px;
	transform: rotate(45deg);
	margin-top:12px;
}
.close-special-menu .close-icon:after{
	content:"";
	display:inherit;
	width:inherit;
	height:inherit;
	background: inherit;
	transform: rotate(90deg);
}
.lock-scroll{
	overflow:hidden;
	transition: background .3s linear;
}
.nav-special::-webkit-scrollbar{
	-webkit-appearance: none;
	width:0;
	height:0;
}
.nav-special .dropdown-menu .dropdown .caret{
	border-top-color: rgba(255,255,255,.8);
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	margin: 0 0 0 5px;
	float: none;
}
.blocsapp-special-menu .site-navigation.pull-right{
	float:none!important;
}

/* Nav Special Close Button */
.close-special-menu .close-icon{
	background:#fff;
}
.blocsapp-special-menu blocsnav{
	background: #000;
}

/* Side Bar Navigation */
.nav-special.sidebar-nav{
	position: fixed;
	right: -300px;
	top: 0;
	bottom: 0;
	width: 300px;
	z-index: 1000;
	transition: all .2s linear;
}
.nav-invert .nav-special.sidebar-nav{
	right: auto;
	left: -300px;
}
 .nav-special.sidebar-nav .site-navigation{
	margin-top:15px;
	padding-left:15px;
}
.nav-special.sidebar-nav .nav > li a{
	color:rgba(255,255,255,.8);
}
 .nav-special.sidebar-nav .nav > li a:hover{
	color:#FFF;
}
 .open.nav-special.sidebar-nav{
	right: 0;
	transition: all .2s linear;
}
.nav-invert .open.nav-special.sidebar-nav{
	left: 0;
	transition: all .2s linear;
}

/* Content Tint */
.content-tint{
	z-index: -1;
	transition: background .2s linear;
}
.content-tint.on{
	display: block;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	background: transparent;
	z-index: 1001;
	background:rgba(0,0,0,.4);
}
.content-tint.on:hover{
	background:rgba(0,0,0,.1);
}
.navbar-toggle.menu-icon-rounded-uneven-list{
	margin-top:7px!important;
}
/* Handle Multi Level Navigation */.navbar-light .navbar-nav .nav-link {
	color: rgb(64, 64, 64);
}
.btco-menu li > a {
	padding: 10px 15px;
	color: #000;
}
.btco-menu .active a:focus,.btco-menu li a:focus ,.navbar > .show > a:focus{
	background: transparent;
	outline: 0;
}
.dropdown-menu .show > .dropdown-toggle::after{
	transform: rotate(-90deg);
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-clear{
	margin:0;
}
.mg-sm{
	margin-top:10px;
	margin-bottom:5px;
}
.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}
.mg-lg{
	margin-top:10px;
	margin-bottom:40px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.btn-sq{
	border-radius: 0px;
}
.btn-clean{
	border:1px solid rgba(0,0,0,.08);
	border-bottom-color:rgba(0,0,0,.1);
	text-shadow:0 1px 0 rgba(0,0,1,.1);
	box-shadow: 0 1px 3px rgba(0,0,1,.25), inset 0 1px 0 0 rgba(255,255,255,.15);
}
.icon-spacer{
	margin-right:5px;
}

/* = Icons
-------------------------------------------------------------- */
.icon-md{
	font-size:30px!important;
}
.icon-xl{
	font-size:100px!important;
}



/* = Lists
-------------------------------------------------------------- */
.list-horizontal-layout li{
	float:left;
	margin:0 10px;
}
.list-sp-md li:last-child,.list-sp-lg li:last-child,.list-sp-xl li:last-child{
	padding-bottom:0;
}

.card-sq, .card-sq .card-header, .card-sq .card-footer{
	border-radius:0;
}
.card-rd{
	border-radius:30px;
}
.card-rd .card-header{
	border-radius:29px 29px 0 0;
}
.card-rd .card-footer{
	border-radius:0 0 29px 29px;
}


/* = Forms
-------------------------------------------------------------- */

.form-control{
	border-color:rgba(0,0,0,.1);
	box-shadow:none;
}

/* Scroll FX */
.scroll-fx-in-range{
	will-change: opacity;
}


/* ScrollToTop button */

.scrollToTop{
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop span{
	margin-top: 6px;
}
.showScrollTop{
	font-size: 14px;
	opacity: 1;
}

/* Hide Object */
.object-hidden{
	display:none;
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family:"Helvetica";
}
.container{
	max-width:1140px;
}
.link-style{
	font-family:Montserrat;
	font-size:25px;
}
.hero-header-text{
	font-size:155px;
	font-weight:bold;
	font-family:Montserrat;
}
.hero-subheader{
	font-size:35px;
	font-weight:normal;
	color:#ff2600;
}
.text-blue-gradient{
	background-clip:text!important;
	-webkit-background-clip:text!important;
	background:linear-gradient(88deg, #61E1A3, #2F7DFF);
	color:transparent!important;
}
.link-mkc-mkc-style{
	font-family:Montserrat;
	font-size:25px;
}
.illustration-section-title{
	font-size:45px;
}
.h2-style{
	font-size:40px;
}
.h3-style{
	font-size:25px;
}
.h6-margin-top{
	margin-top:200px;
}
.feature-col-mt{
	margin-top:29px;
}
.hero-first-col-mb{
	margin-bottom:30px;
}
.green-bg-gradient{
	background:linear-gradient(68deg, #61E1A3, #49AFFF);
}
.text-trans-gradient{
	background-clip:text!important;
	-webkit-background-clip:text!important;
	background:linear-gradient(0deg, rgba(255,255,255,0.0), #FFFFFF);
	color:transparent!important;
}
.h2-2-style{
	font-size:45px;
	margin-top:0px;
}
.p-margin-top{
	font-size:17px;
}
.btn-margin-bottom{
	margin-bottom:10px;
}
.h2-margin-top{
	margin-top:70px;
	font-size:30px;
}
.red-bg-gradient{
	background:linear-gradient(180deg, #FABF68, #F02277);
}
.img-style{
	margin-left:20px;
	border-radius:27px 27px 27px 27px;
}
.blue-bg-gradient{
	background:linear-gradient(190deg, #00F9F0, #0149FF);
}
.img-5-style{
	border-radius:15px 15px 15px 15px;
}
.btn-more-info-margin-left{
	margin-left:5px;
	margin-right:5px;
}
.h2-aibash-style{
	font-family:Montserrat;
	font-size:45px;
}
.h2-about-style{
	font-size:45px;
}
.p-about-style{
	font-size:17px;
}
.p-10-style{
	font-size:17px;
}
.alert-margin-top{
	margin-top:-10px;
	margin-bottom:10px;
}
.p-18-margin-top{
	margin-top:-15px;
}
.btn-about-margin-bottom{
	margin-bottom:10px;
}
.btn-margin-top{
	margin-top:81px;
	margin-right:25px;
	margin-bottom:2px;
}
.p-bloc-15-style{
	font-size:13px;
	margin-top:50px;
}
.p-20-style{
	width:100%;
	font-family:Montserrat;
}
.img-yandex-lo-style{
	width:85px;
}
.list-margin-bottom{
	margin-bottom:32px;
}
.h3-10-style{
	font-family:Montserrat;
}
.h1-style{
	font-family:Montserrat;
}

/* = Colour
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-white{
	background-color:#FFFFFF;
}
.bgc-snow{
	background-color:#FBFBFB;
}

/* Text colour styles */

.tc-black{
	color:rgba(0,0,0,0.2)!important;
}
.tc-prussian-blue{
	color:#183A56!important;
}
.tc-ucla-blue{
	color:#577592!important;
}
.tc-white{
	color:rgba(255,255,255,0.498039)!important;
}
.tc-white-2{
	color:rgba(255,255,255,0.298039)!important;
}

/* Button colour styles */

.btn-cornflower-blue{
	background:#569EF9;
	color:#FFFFFF!important;
}
.btn-cornflower-blue:hover{
	background:#457ec7!important;
	color:#FFFFFF!important;
}
.btn-orange-ryb{
	background:#F79B04;
	color:#FFFFFF!important;
}
.btn-orange-ryb:hover{
	background:#c67c03!important;
	color:#FFFFFF!important;
}

/* Link colour styles */

.ltc-black{
	color:rgba(0,0,0,0.2)!important;
}
.ltc-black:hover{
	color:#000000!important;
}
.ltc-ferrari-red{
	color:#FF2600!important;
}
.ltc-ferrari-red:hover{
	color:#cc1e00!important;
}
.ltc-cornflower-blue{
	color:#569EF9!important;
}
.ltc-cornflower-blue:hover{
	color:#457ec7!important;
}

/* Icon colour styles */

.icon-white{
	color:#FFFFFF!important;
	border-color:#FFFFFF!important;
}
.icon-prussian-blue{
	color:#183A56!important;
	border-color:#183A56!important;
}




/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc{
        padding-left: 20px; 
        padding-right: 20px;  
    }
    .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
        padding-left: 0; 
        padding-right: 0;  
    }
}
@media (max-width: 991px)
{
    .container{width:100%;}
    .page-container, #hero-bloc{overflow-x: hidden;position: relative;} /* Prevent unwanted side scroll on mobile */
    .bloc{padding-left: constant(safe-area-inset-left);padding-right: constant(safe-area-inset-right);} /* iPhone X Notch Support*/
    .bloc-group, .bloc-group .bloc{display:block;width:100%;}
}
@media (max-width: 767px)
{
    .page-container{
        overflow-x: hidden;
        position:relative;
    }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
        padding-left:0;padding-right:0;
    }
    .a-block{
        padding:0 10px;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}

@media (max-width: 991px){
	.hero-header-text{
		font-size:100px;
	}
	.hero-subheader{
		font-size:30px;
	}
	.h2-style{
		font-size:35px;
	}
	.p-style{
		font-size:15px;
	}
	.illustration-section-title{
		font-size:42px;
	}
	.h3-style{
		font-size:21px;
	}
	.h3-3-style{
		font-size:21px;
	}
	.h3-4-style{
		font-size:21px;
	}
	.p-margin-top{
		font-size:16px;
	}
	.h2-about-style{
		font-size:36px;
	}
	.p-bloc-13-style{
		font-size:14px;
	}
	.btn-margin-top{
		margin-top:81px;
		margin-right:-9px;
	}
	.field-style{
		width:100%;
	}
	
}

@media (max-width: 767px){
	.hero-header-text{
		font-size:90px;
	}
	.hero-subheader{
		font-size:22px;
	}
	.p-style{
		font-size:13px;
	}
	.h2-style{
		font-size:35px;
	}
	.illustration-section-title{
		font-size:31px;
	}
	.h3-style{
		font-size:20px;
	}
	.h3-3-style{
		font-size:20px;
	}
	.h3-4-style{
		font-size:20px;
	}
	.h2-margin-top{
		margin-top:55px;
	}
	.h2-2-style{
		font-size:34px;
	}
	.p-margin-top{
		font-size:13px;
	}
	.field-style{
		width:100%;
	}
	.btn-margin-top{
		margin-right:-25px;
	}
	.h1-style{
		font-size:33px;
	}
	.h3-10-style{
		font-size:24px;
	}
	.p-20-style{
		font-size:13px;
	}
	.sidebar-nav{
		width:230px!important;
	}
	.nav-special.sidebar-nav .nav > li{
		width:80%;
	}
	.nav-invert .sidebar-nav .close-special-menu{
		left:200px;
	}
	
}

@media (max-width: 575px){
	.hero-header-text{
		font-size:38px;
	}
	.h2-style{
		font-size:30px;
	}
	.p-style{
		font-size:11px;
	}
	.illustration-section-title{
		font-size:30px;
	}
	.h3-style{
		font-size:16px;
	}
	.h3-3-style{
		font-size:16px;
	}
	.h3-4-style{
		font-size:16px;
	}
	.h2-2-style{
		font-size:27px;
	}
	.btn-more-info-margin-left{
		margin-bottom:5px;
	}
	.p-10-style{
		font-size:13px;
	}
	.p-bloc-13-style{
		font-size:11px;
	}
	.h2-aibash-style{
		font-size:43px;
	}
	.h3-bloc-15-style{
		font-size:22px;
	}
	.h3-bloc-14-style{
		font-size:22px;
	}
	.hero-subheader{
		font-size:16px;
	}
	.p-bloc-15-style{
		font-size:12px;
	}
	.bloc-margin-top{
		margin-top:-10px;
	}
	.btn-margin-top{
		margin:114px -15px -25px 0px;
	}
	.field-style{
		width:100%;
		margin-left:-5px;
	}
	.list-margin-bottom{
		margin-bottom:55px;
	}
	.h1-style{
		font-size:23px;
	}
	.h3-10-style{
		font-size:17px;
	}
	.p-20-style{
		font-size:12px;
	}
	
}

